.navContainer {
    background-color: black;
    height: 850px;
    div {
        color: #b3b3b3;
        padding: 20px 0 0 20px;
        text-align: left;
        align-items: center;
        svg {
            fill: #b3b3b3;
        }
        span {
            padding-left: 12px;
        }
        &:hover {
            color: #fff;
            cursor: pointer;
            svg {
                fill: #fff;
            }
        }
    }
}

.logo {
    width: 170px;
    margin-bottom: 10px !important;
    color: #fff !important;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

header h2 {
    color: #fff;
    font-size: 25px;
}

header h4 {
    color: #b3b3b3;
    font-size: 15px;
    font-weight: 400;
}

/* CD */
.cd {
    display: flex;
    margin: auto;
    width: 200px;
}

.cd-thumb {
    width: 250px;
    height: 180px;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
}
.authorName-container {
    text-align: center !important;
    padding-top: 20px;
    .author-name {
        color: #b3b3b3;
        font-size: 15px;
        font-weight: 400;
    }
}
